/* Global settings */
:root {
  /* Light Theme Colors */
  --mainBgColor: #f4f4f4;
  --secondaryBgColor: #ffffff;
  --borderColor: #e0e0e0;
  --textColorMain: #222222;
  --textColorSecondary: #272727;
  --themeColorMain: #009688; /* Brighter Teal */
  --themeColorSecondary: #00796b;
  --inputBgColor: #ffffff;
  --inputBorderColor: #cccccc;
  --sentMessageBg: #e0f7fa; /* Slightly brighter light green for sent messages */
  --receivedMessageBg: #ffffff;
  --msgBg: #0000001f;

  /* Shared Colors */
  --accentColor: #ff7043; /* Slightly brighter accent color */

  /* Dark Theme Colors */
  --darkMainBgColor: #121212;
  --darkSecondaryBgColor: #1e1e1e;
  --darkBorderColor: #333333;
  --darkTextColorMain: #e0e0e0;
  --darkTextColorSecondary: #b0b0b0;
  --darkInputBgColor: #262626;
  --darkInputBorderColor: #444444;
  --darkSentMessageBg: #00796b;
  --darkReceivedMessageBg: #37474f;
  --darkMsgBg: #0308085c;
}

[data-theme="dark"] {
  --mainBgColor: var(--darkMainBgColor);
  --secondaryBgColor: var(--darkSecondaryBgColor);
  --borderColor: var(--darkBorderColor);
  --textColorMain: var(--darkTextColorMain);
  --textColorSecondary: var(--darkTextColorSecondary);
  --inputBgColor: var(--darkInputBgColor);
  --inputBorderColor: var(--darkInputBorderColor);
  --sentMessageBg: var(--darkSentMessageBg);
  --receivedMessageBg: var(--darkReceivedMessageBg);
  --msgBg: var(--darkMsgBg);
}

/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--mainBgColor);
  color: var(--textColorMain);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Chat room styling */
.room--container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryBgColor);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.online-users {
  padding: 10px 20px;
  background-color: var(--themeColorMain);
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.online-users h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messages-container::-webkit-scrollbar{
  display: none;
}

.message--wrapper {
  max-width: 70%;
  padding: 10px;
  align-self: flex-start;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  background-color: var(--msgBg);
}

.message--wrapper:hover {
  transform: scale(1.02);
}

.message--wrapper.current-user {
  align-self: flex-end;
}

.message--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  gap: 1rem;
}

.message--header h3 {
  font-size: 0.85em;
  color: var(--textColorSecondary);
  font-weight: 500;
  margin: 0;
}

.message-timestamp {
  font-size: 0.75em;
  color: var(--textColorSecondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.6;
}

.message--header button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--textColorSecondary);
  font-size: 1.2em;
  padding: 2px;
}

.message--body {
  background-color: var(--receivedMessageBg);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--textColorMain);
}

.current-user .message--body {
  background-color: var(--sentMessageBg);
}

.message--body p {
  margin: 0;
  line-height: 1.5;
}

/* Message form styling */
#message--form {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--secondaryBgColor);
  border-top: 1px solid var(--borderColor);
}

.message-input-container {
  display: flex;
  align-items: center;
  background-color: var(--inputBgColor);
  border-radius: 25px;
  padding: 10px 15px;
  flex: 1;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--inputBorderColor);
}

/* Styling for the textarea input */
textarea {
  flex: 1;
  border: none;
  background-color: transparent;
  resize: none; /* Prevent resizing */
  height: 40px;
  max-height: 150px;
  padding: 5px;
  font-size: 1em;
  color: var(--textColorMain);
  /* scrollbar-width: none; /* For Firefox */
}

textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

textarea:focus {
  outline: none;
}

.message-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--themeColorMain);
  padding: 8px;
  font-size: 1.3em;
  transition: color 0.3s, transform 0.2s;
}

.action-button:hover {
  color: var(--accentColor);
  transform: scale(1.1);
}

/* Theme toggle styling */
/* Theme toggle styling */
.theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

.theme-toggle label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .slider {
  width: 50px;
  height: 25px;
  background-color: var(--themeColorMain);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: relative;
  transition: background-color 0.3s;
}

.theme-toggle .slider:before {
  content: "☀️";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondaryBgColor);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 2.5px;
  left: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.theme-toggle input:checked + .slider:before {
  content: "🌙";
  transform: translateX(25px);
}

.theme-toggle input:checked + .slider {
  background-color: var(--themeColorMain);
}

.theme-toggle button {
  background-color: var(--themeColorMain);
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-toggle button:hover {
  background-color: var(--buttonHoverColor);
}


/* Emoji picker styling */
.emoji-picker-container {
  position: absolute;
  bottom: 80px;
  left: 10px;
  z-index: 1000;
}

/* Responsive design */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    height: 90vh;
    margin: 30px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .room--container {
    border-radius: 0;
  }
}

/* Login & Register Pages */

.auth--container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkMainBgColor); /* Dark background as default */
}

.form--wrapper {
  width: 400px;
  padding: 2em;
  background-color: var(--darkSecondaryBgColor);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  color: var(--darkTextColorMain);
}

.field--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}

.field--wrapper label {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--darkTextColorMain);
}

.field--wrapper input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid var(--darkBorderColor);
  border-radius: 5px;
  background-color: var(--darkInputBgColor);
  color: var(--darkTextColorMain);
}

.field--wrapper button {
  padding: 0.5em 1em;
  font-size: medium;
  background-color: var(--themeColorMain);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.field--wrapper button:hover {
  background-color: var(--themeColorSecondary);
}

.field--wrapper p {
  text-align: center;
  color: var(--darkTextColorSecondary);
  font-size: 1rem;
}

.field--wrapper p a {
  color: var(--themeColorMain);
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.field--wrapper p a:hover {
  color: var(--themeColorSecondary);
}

/* Loading State style */
.loading{
  color: var(--themeColorMain)
}

/* Header component styling */
#header--wrapper {
  background-color: var(--themeColorMain);
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.header--container h1 {
  font-size: 1.5em;
  color: #ffffff;
  margin-top: 5px;
  
}

.btn--sm {
  background-color: var(--themeColorSecondary);
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn--sm:hover {
  background-color: var(--themeColorMain);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.907);
}